/* Проверка  */
/* Media start  */
@media screen and (max-width: 1200px) {
    .wrapper{
        top: 0;
        right: 0;
        padding: 0 0;
    }
    .header__wrapper{
        
        
        flex-direction: column;
        align-items: flex-start;
        padding: 0 15px;
    }
    .top__card{
        grid-column: span 1;
    }
    .tours__list {
       
        display: inline-block;
    }
   
}
@media screen and (max-width: 960px) {
    
    .tours__tour {
        column-gap: 35px;
    }
   
    .tour__title {
        margin-bottom: 15px;
    }
    .tour__desc {
        margin-bottom: 15px;
    }
    .top__cards {
        column-gap: 25px;
        row-gap: 55px;
    }
    .top__card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
    .top__card-pic {
        margin-bottom: 25px;
    }
    .footer {
        padding: 60px 0;
    }
    
}

@media screen and (max-width: 768px) {
    
    .header__burger {
        display: block;
    }
    .header__wrapper {
        padding-top: 28px;
    }
    .header__nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 10;
        padding: 75px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: .2s all linear;
        -o-transition: .2s all linear;
        transition: .2s all linear;
    }
    .header__nav_active{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .header__item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child{
        margin-bottom: 0;
    }
    .header__link{
        font-size: 42px;
        line-height: 48px;
    }
    .header__nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header__nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }
    .header__nav-close-line:first-child{
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }
    .intro {
        padding-top: 125px;
    }
    .intro_h1{
        position: relative;
        width: 100%;
        top: 0;
        font-weight: 800;
font-size: 50px;
line-height: 68px;
    }
    
    .intro_title{
        position: relative;
        font-weight: 500;
font-size: 15px;
line-height: 18px;

        
    }
    .search-form__info{
        position: relative;
        top: 0px;
    }
    .intro__subtitle {
        font-size: 14px;
    }
    .search-form__field{
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
        background: transparent url(../img/svg/circle-ico.svg) no-repeat left 2px;
    }
    .search-form__field::-webkit-input-placeholder{
        font-size: 16px;
    }
    .search-form__field::-moz-placeholder{
        font-size: 16px;
    }
    .search-form__field:-ms-input-placeholder{
        font-size: 16px;
    }
    .search-form__field::-ms-input-placeholder{
        font-size: 16px;
    }
    .search-form__field::placeholder{
        font-size: 16px;
    }
    .search-form__submit {
        width: 100%;
    }

    
    .tours {
        margin-bottom: 76px;
    }
    .tour__pic, .tour__info {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
    .tour__pic {
        margin-bottom: 12px;
    }
    .top__card-title{
        position: absolute;
        font-weight: 700;
        font-size: 80px;
        line-height: 80px;
        padding: 0px ;
        left: 130px;
    }
    .top__card-title2{
        position: absolute;
        font-weight: 900;
font-size: 65px;
line-height: 80px;
        padding: 0px ;
        left: 130px;
    }
    .tour__pic_mob-first {
        -ms-grid-row: -1;
            grid-row-start: -1;
    }
    .tours__tour {
        margin-bottom: 50px;
    }
    
    .footer__logo {
        width: 100%;
        margin-bottom: 24px;
    }
    .footer__nav {
        width: 100%;
    }
    .footerm__menu {
        width: 50%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 480px) {
    .header__nav {
        padding: 75px 30px;
    }
}
@media screen and (max-width: 340px) {
   
}


/* Media end */