 @media screen and (max-width: 1200px) {
  .top__title{
    margin-left: 5%;
    
  }.top__cards{
     column-gap: 3% !important;
  }
 
  .top__card{
    margin-left: 0%;
  }
  .top__card-title1{
  
    font-size: 60px !important;
  }
  .title-contener{
    min-width: 100%;
  }
  .top__card-pic{
    min-width: 100%;
  }
  .top__card-pic1{
    min-width: 100%;
  }
  .top__card-title{
    font-weight: 700;
    font-size: 60px;
  }

  .top__card-title2{
   
    font-weight: 700 !important;
    font-size: 60px !important;
  }
  .organize-background {
    background: url(../img/svg/background-organize.svg) 10% 10% no-repeat scroll !important;
}
.tours__card-title{
  font-size: 25px!important;
  line-height: 28px!important;
}
.organize__tour{
  column-gap: 10%!important;
}
.organize__img{
  margin-right: 3%;
}

.way-title{
  font-size: 130px!important;
    line-height: 80px!important;
}
.buryatia__info {
  margin-left: 5%!important;
}
#navbar{
  margin-left: 8%!important;
}
.organize__info{
  margin-top: 3%;
}
.organize__img{
  display: none !important;

}
.organize__tour{
  padding: 40px 0px 20px 0px !important; 
}
.organize__img_hidden1 {
display: flex !important;
    margin-left: 20% !important;
    flex-direction: row;
    flex-wrap: wrap;
}
.organize__list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.organize__desc1{
padding: 0px 0px 40px 0px !important;
}

.organize__lil{
margin-top: 3% !important;
text-align: center;
}
.icon{
top: 13px !important;
right: -45px !important;
}
.organize-pic{
text-align: center; 
}
.organize-background {
background: url(../img/svg/background-organize.svg) 10% 15% no-repeat scroll !important;
}
.buryatia__title{
  margin-left: 6%!important;
}
.buryatia__card-title1{
  margin-left: 6%!important;
}
.buryatia_text{
  margin-left: 6%!important;
}
/*  footer start 1200*/


/*  footer  end 1200*/
}
@media screen and (max-width: 960px) {
  .wrapper{
    width: 100% !important;
    margin: 0%;
  }
  .intro_h1{
    font-size: 70px !important;
    line-height: 94px !important;
  }
  .wrapper-full{
    width: 100% !important;
    margin: 0%;
  }
  .top__card-title1{
    font-size: 50px!important;
  }
  .top__card{
    justify-content: center; 
  }
  .top__card-title{
    font-size: 60px !important;
  }
  .top__card-title2{
    font-size: 60px !important;
  }
  .top__card-more{
    padding: 5% 19% !important;
  }
  .tours__card-stats{
    margin-bottom: 10% !important;
  }
  .tours__card-title02{
    font-size: 25px !important;
    line-height: 28px !important;
  }
  .tours__card-title1{
    font-size: 25px !important;
    line-height: 28px !important;
  }
  .organize__info{
    margin-top: 3%;
  }
  .organize__img{
    display: none !important;

  }
  .organize__tour{
    padding: 40px 0px 20px 0px !important; 
  }
  .organize__img_hidden1 {
    display: flex !important;
    margin-left: 20% !important;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .organize__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.organize__desc1{
  padding: 0px 0px 40px 0px !important;
}

.organize__lil{
  margin-top: 3% !important;
  text-align: center;
}
.icon{
  top: 13px !important;
  right: -45px !important;
}
.organize-pic{
  text-align: center; 
}
.organize-background {
  background: url(../img/svg/background-organize.svg) 10% 15% no-repeat scroll !important;
}
.buryatia__title{
  margin-left: 6%!important;
}
.buryatia__card-title1{
  margin-left: 6%!important;
}
.buryatia_text{
  margin-left: 6%!important;
}
.way-title{
  font-size: 100px!important;
    line-height: 80px!important;
}
.namely_buryatia-text {
  font-size: 35px !important;
  line-height: 47px !important;
}
.namely_buryatia-text1 {
  font-size: 19px !important;
  line-height: 28px !important;
  padding-left: 3%;
}

}

@media screen and (max-width: 768px) {
 .wrapper{
    width: 100% !important;
    margin: 0%;
  }
  .intro_h1{
    font-size: 70px !important;
    line-height: 94px !important;
  }
  .wrapper-full{
    width: 100% !important;
    margin: 0%;
  }
  .top__card-title1{
    font-size: 50px!important;
  }
  .top__card{
    justify-content: center; 
  }
  .top__card-title{
    font-size: 60px !important;
  }
  .top__card-title2{
    font-size: 60px !important;
  }
  .top__card-more{
    padding: 5% 19% !important;
  }
  .tours__card-stats{
    margin-bottom: 10% !important;
  }
  .tours__card-title02{
    font-size: 25px !important;
    line-height: 28px !important;
  }
  .tours__card-title1{
    font-size: 25px !important;
    line-height: 28px !important;
  }
  .organize__info{
    margin-top: 3%;
  }
  .organize__img{
    display: none !important;

  }
  .organize__tour{
    padding: 40px 0px 20px 0px !important; 
  }
 
  .organize__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.organize__desc1{
  padding: 0px 0px 40px 0px !important;
}

.organize__lil{
  margin-top: 3% !important;
  text-align: center;
}
.icon{
  top: 13px !important;
  right: -45px !important;
}
.organize-pic{
  text-align: center; 
}
.organize-background {
  background: url(../img/svg/background-organize.svg) 10% 15% no-repeat scroll !important;
}
.organize__img_hidden1 {
  display: flex !important;
    margin-left: 15% !important;
    flex-direction: row;
    flex-wrap: wrap;
}
.tours__list {

  flex-direction: column !important;
}

}
@media screen and (max-width: 677px) {
  .organize__img_hidden1 {
    display: flex !important;
    margin-left: 10% !important;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .title-contener {
    width: 100% !important;
}
.top__card-pic {
  width: 100% !important;
}
.card-more-inf {
  margin-top: 5%;
  margin-bottom: 5%;
}
.top__cards {
  display: flex;
  column-gap: 57px;
  row-gap: 0px;
  flex-direction: column;
}
.tours__list {

  flex-direction: column !important;
}
.tours__card-title {
  font-size: 55px !important;
  line-height: 70px !important;
}
.tours__card-thumb{
  width: 15%;
  
}
.tours__card-title02{
  font-size: 55px !important;
  line-height: 70px !important;
}
.tours__card-title1{
  font-size: 55px !important;
  line-height: 70px !important;
}
.tour__info {
  min-width: 50%;
  height: 100%;
  
}
}

@media screen and (max-width: 480px) {
  .organize__title{
    font-size: 40px !important;
    line-height: 50px !important;
  }
  .organize__desc{
    font-size: 25px!important;

  }
  .organize__desc1{
    padding: 0px 0px 40px 0px !important;
  }
  .organize__img_hidden1 {
    display: flex !important;
    margin-left: 0% !important;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .organize__lil {
    margin-top: 7% !important;
    text-align: center;
}
  .icon {
    top: 19px !important;
    right: -45px !important;
}
.card-more-inf {
  margin-top: 5%;
  margin-bottom: 5% !important;
}
.top__cards {
  display: flex;
  column-gap: 57px;
  row-gap: 0px;
  flex-direction: column;
}
.tours__card-title {
  font-size: 30px !important;
  line-height: 50px !important;
}
.tours__card-thumb{
  width: 15%;
  
}
.tours__card-title02{
  font-size: 30px !important;
  line-height: 50px !important;
}
.tours__card-title1{
  font-size: 30px !important;
  line-height: 50px !important;
}
.tours__card-stats {
  margin-bottom: 12% !important;
}
.tours_topic{
  font-size: 50px !important;
  line-height: 50px !important;
}
}
@media screen and (max-width: 340px) {
  .organize__title{
    font-size: 27px !important;
    line-height: 35px !important;
  }
  .organize__desc{
    font-size: 21px!important;
    line-height: 25px !important;
  }
  .organize__lil {
    font-size: 17px !important;
    margin-top: 7% !important;
    text-align: center;
}
.icon {
  top: 14px !important;
  left: 74px !important;
}
.card-more-inf {
  margin-top: 5%;
  margin-bottom: 5% !important;
}
.top__cards {
  display: flex;
  column-gap: 57px;
  row-gap: 0px;
  flex-direction: column;
}
.top__title{
  font-size: 36px !important;
  line-height: 40px !important;
}
.top__card-title1{
  font-size: 36px !important;
  line-height: 40px !important;
}
.top__card-title{
  font-size: 47px !important;
  line-height: 55px !important;
}
.top__card-title2{
  font-size: 47px !important;
  line-height: 55px !important;
}
.card-more-inf {
  margin-bottom: 5% !important;
  
}
.tours__card-title {
  font-size: 20px !important;
  line-height: 30px !important;
}
.tours__card-thumb{
  width: 15%;
  
}
.tours__card-title02{
  font-size: 20px !important;
  line-height: 30px !important;
}
.tours__card-title1{
  font-size: 20px !important;
  line-height: 30px !important;
}
.tours__card-stats {
  margin-bottom: 12% !important;
}
.tours_topic{
  font-size: 28px !important;
  line-height: 30px !important;
}
}

