 @media screen and (max-width: 1200px) {
  .bg-ex-top{
    top: 70% !important;
  }
  .top__title{
    margin-left: 5%;
    
  }.top__cards{
     column-gap: 3% !important;
  }
 
  .top__card{
    margin-left: 0%;
  }
  .top__card-title1{
  
    font-size: 60px !important;
  }
  .title-contener{
    min-width: 100%;
  }
  .top__card-pic{
    min-width: 100%;
  }
  .top__card-pic1{
    min-width: 100%;
  }
  .top__card-title{
    font-weight: 700;
    font-size: 60px;
  }

  .top__card-title2{
   
    font-weight: 700 !important;
    font-size: 60px !important;
  }
  .organize-background {
    background: url(../img/svg/background-organize.svg) 10% 10% no-repeat scroll !important;
}
.tours__card-title{
  font-size: 25px!important;
  line-height: 28px!important;
}
.organize__tour{
  column-gap: 10%!important;
}
.organize__img{
  margin-right: 3%;
}

.way-title{
  font-size: 130px!important;
    line-height: 80px!important;
}
.buryatia__info {
  margin-left: 5%!important;
}
#navbar{
  margin-left: 8%!important;
}
.organize__info{
  margin-top: 3%;
}
.organize__img{
  display: none !important;

}
.organize__tour{
  padding: 40px 0px 20px 0px !important; 
}
.organize__img_hidden1 {
display: flex !important;
    margin-left: 20% !important;
    flex-direction: row;
    flex-wrap: wrap;
}
.organize__list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.organize__desc1{
padding: 0px 0px 40px 0px !important;
}

.organize__lil{
margin-top: 3% !important;
text-align: center;
}
.icon{
top: 13px !important;
right: -45px !important;
}
.organize-pic{
text-align: center; 
}
.organize-background {
background: url(../img/svg/background-organize.svg) 10% 15% no-repeat scroll !important;
}
.buryatia__title{
  margin-left: 6%!important;
}
.buryatia__card-title1{
  margin-left: 6%!important;
}
.buryatia_text{
  margin-left: 6%!important;
}
.gall{
  width: 100%;
}
.animation{
  font-size: 140px !important;
}
.bashkara__info{
  display: none;
}
.bashkara__pic{
  width: 100%;
}
.bashkara__tour{
  grid-template-columns: initial !important;
}
.icon22{
  top: -10px !important;
  left: 0px !important;
}
.bashkara_icon22{
  top: -10px !important;
 left: 0px !important;
}
.bashkara_pic2{
  top: 30px !important;
}
.bashkara__tour1{
  padding: 40px 0px 0px 0px !important;
  margin-bottom: 3% !important;
}
.bashkara__list{
  flex-wrap: initial !important;
  flex-direction: column;
}
.bashkara__list1{
  flex-wrap: initial !important;
}
/*  footer start 1200*/
.footer__item_hidden{
display: none;
}
.footer__list_hidden{
display: flex !important;
}
.footer__item{
  margin-right: 6%!important;
}
.footer__item01{
  margin-right: 6%!important;
}
.footer-more-inf{
  margin-left: 18% !important;
}
.footer__link {
  font-size: 35px !important;
}
.footer-it{
  font-size: 30px !important;
}
/*  footer  end 1200*/
}
@media screen and (max-width: 960px) {
  .bg-ex-top{
    top: 75% !important;
  }
  .wrapper{
    width: 100% !important;
    margin: 0%;
  }
  .intro_h1{
    font-size: 70px !important;
    line-height: 94px !important;
  }
  .wrapper-full{
    width: 100% !important;
    margin: 0%;
  }
  .top__card-title1{
    font-size: 50px!important;
  }
  .top__card{
    justify-content: center; 
  }
  .top__card-title{
    font-size: 60px !important;
  }
  .top__card-title2{
    font-size: 60px !important;
  }
  .top__card-more{
    padding: 5% 19% !important;
  }
  .tours__card-stats{
    margin-bottom: 10% !important;
  }
  .tours__card-title02{
    font-size: 25px !important;
    line-height: 28px !important;
  }
  .tours__card-title1{
    font-size: 25px !important;
    line-height: 28px !important;
  }
  .organize__info{
    margin-top: 3%;
  }
  .organize__img{
    display: none !important;

  }
  .organize__tour{
    padding: 40px 0px 20px 0px !important; 
  }
  .organize__img_hidden1 {
    display: flex !important;
    margin-left: 20% !important;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .organize__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.organize__desc1{
  padding: 0px 0px 40px 0px !important;
}

.organize__lil{
  margin-top: 3% !important;
  text-align: center;
}
.icon{
  top: 13px !important;
  right: -45px !important;
}
.organize-pic{
  text-align: center; 
}
.organize-background {
  background: url(../img/svg/background-organize.svg) 10% 15% no-repeat scroll !important;
}
.buryatia__title{
  margin-left: 6%!important;
}
.buryatia__card-title1{
  margin-left: 6%!important;
}
.buryatia_text{
  margin-left: 6%!important;
}
.way-title{
  font-size: 100px!important;
    line-height: 80px!important;
}
.namely_buryatia-block{
  height:  100% !important;
}
.namely_buryatia-thumb{
  width: 100% !important;
  height:  100% !important;
}
.namely_buryatia_tour{
  width: 100%;
}
.namely_buryatia{
  background: url(../img/svg/background-desktop20.svg) no-repeat scroll -23% 95% !important;
}
.namely_buryatia-text {
  font-size: 35px !important;
  line-height: 47px !important;
}
.namely_buryatia-text1 {
  font-size: 19px !important;
  line-height: 28px !important;
  padding-left: 3%;
}
.buryatia__info {
  margin-left: 0% !important;
}
.gall{
  width: 100%;
}
.animation {
  font-size: 115px !important;
}
/*  footer  start 960*/
.footer__item_hidden{
  display: none;
  }
  .footer__list_hidden{
  display: flex !important;
  }
  .footer__item{
    margin-right: 6%!important;
  }
  .footer__item01{
    margin-right: 6%!important;
  }
  .footer-more-inf{
    margin-left: 18% !important;
  }
  .footer__link {
    font-size: 30px !important;
  }
  .footer-it{
    font-size: 25px !important;
  }
/*  footer  end 960*/
}

@media screen and (max-width: 768px) {
  .bg-ex-top{
    top: 80% !important;
  }
 .wrapper{
    width: 100% !important;
    margin: 0%;
  }
  .intro_h1{
    font-size: 70px !important;
    line-height: 94px !important;
  }
  .wrapper-full{
    width: 100% !important;
    margin: 0%;
  }
  .top__card-title1{
    font-size: 50px!important;
  }
  .top__card{
    justify-content: center; 
  }
  .top__card-title{
    font-size: 60px !important;
  }
  .top__card-title2{
    font-size: 60px !important;
  }
  .top__card-more{
    padding: 5% 19% !important;
  }
  .tours__card-stats{
    margin-bottom: 10% !important;
  }
  .tours__card-title02{
    font-size: 25px !important;
    line-height: 28px !important;
  }
  .tours__card-title1{
    font-size: 25px !important;
    line-height: 28px !important;
  }
  .organize__info{
    margin-top: 3%;
  }
  .organize__img{
    display: none !important;

  }
  .organize__tour{
    padding: 40px 0px 20px 0px !important; 
  }
 
  .organize__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.organize__desc1{
  padding: 0px 0px 40px 0px !important;
}

.organize__lil{
  margin-top: 3% !important;
  text-align: center;
}
.icon{
  top: 13px !important;
  right: -45px !important;
}
.organize-pic{
  text-align: center; 
}
.organize-background {
  background: url(../img/svg/background-organize.svg) 10% 15% no-repeat scroll !important;
}
.organize__img_hidden1 {
  display: flex !important;
    margin-left: 15% !important;
    flex-direction: row;
    flex-wrap: wrap;
}
.tours__list {

  flex-direction: column !important;
}
.tours__card-title {
  font-size: 55px !important;
  line-height: 70px !important;
}
.tours__card-thumb{
  width: 15%;
  
}
.tours__card-title02{
  font-size: 55px !important;
  line-height: 70px !important;
}
.tours__card-title1{
  font-size: 55px !important;
  line-height: 70px !important;
}
.tour__info {
  min-width: 50%;
  height: 100%;
  
}
.way-title {
  font-size: 95px !important;
  line-height: 80px !important;
}
.way-text{
  font-size: 110px!important;
  line-height: 70px!important; 
}
.way-text1{
  font-size: 110px!important;
  line-height: 70px!important; 
}

.gallery__tour{
  display: none !important;
}
.gallery__tour_hidden{
  display: flex !important;
  flex-direction: column;
}
.benefits__card{
width: 100%;
margin-top: 3%;
margin-bottom: 3%;
}
.animation {
  font-size: 100px !important;
}
.bashkara__tour1{
  display: flex !important;
}
.bashkara__tour_new1{
  display: flex !important;
  flex-wrap: wrap;
}
.bashkara__list1 {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 100% !important;
}

.footer__list {
  display: flex !important; 
  flex-wrap: wrap !important; 
}
.footer__item_hidden{
  display: none;
  }
  .footer__list_hidden{
  display: flex !important;
  }
  .footer__item{
    margin-right: 6%!important;
  }

  .footer__item01{ 
    margin-left: 32% !important;
  margin-bottom: 5%;

  }
  .footer-more-inf{
    margin-left: 18% !important;
  }
  .footer__link {
    font-size: 30px !important;
  }
  .footer-it{
    font-size: 20px !important;
  }

/*  footer  end 768*/
}
@media screen and (max-width: 677px) {
  .bg-ex-top{
    top: 100% !important;
  }
  .bg-ex-top1{
    display: block !important;
 
  }
  .organize__img_hidden1 {
    display: flex !important;
    margin-left: 10% !important;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .title-contener {
    width: 100% !important;
}
.top__card-pic {
  width: 100% !important;
}
.card-more-inf {
  margin-top: 5%;
  margin-bottom: 5%;
}
.top__cards {
  display: flex;
  column-gap: 57px;
  row-gap: 0px;
  flex-direction: column;
}
.tours__list {

  flex-direction: column !important;
}
.tours__card-title {
  font-size: 55px !important;
  line-height: 70px !important;
}
.tours__card-thumb{
  width: 15%;
  
}
.tours__card-title02{
  font-size: 55px !important;
  line-height: 70px !important;
}
.tours__card-title1{
  font-size: 55px !important;
  line-height: 70px !important;
}
.tour__info {
  min-width: 50%;
  height: 100%;
  
}
.team__card-more{
  padding: 5% 5% !important;
}
.way-title {
  font-size: 65px !important;
  line-height: 1px !important;
}
.way-text{
  font-size: 80px!important;
  line-height: 60px!important; 
}
.way-text1{
  font-size: 80px!important;
  line-height: 60px!important; 
}
.namely__buryatia-cards{
  flex-wrap: nowrap;
  flex-direction: column;
}
.namely_buryatia-thumb1{
  padding: 0!important; 
}
.namely_buryatia__title{
  font-size: 20px !important;
  line-height: 26px !important;
}
.namely_buryatia__title1{
  font-size: 17px !important;
  line-height: 20px !important;
}
.namely_buryatia-block{
  height:  100% !important;
}
.namely_buryatia-thumb{
  width: 100% !important;
  height:  100% !important;
}
.namely_buryatia_tour{
  width: 100%;
}
.namely_buryatia{
  background: url(../img/svg/background-desktop20.svg) no-repeat scroll 30% 80% !important;
}
.namely_buryatia-text {
  font-size: 35px !important;
  line-height: 47px !important;
}
.namely_buryatia-text1 {
  font-size: 19px !important;
  line-height: 28px !important;
  padding-left: 3%;
}
.gallery__tour{
  display: flex !important;
  flex-direction: column;
}
.gallery__cards{
  display: flex !important;
  flex-direction: column;

}
.tour__thumb1{
  display: none;
}
.gallery__tour{
  display: none !important;
}

.gallery__tour_hidden{
  display: flex !important;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.benefits__card{
width: 100%;
margin-top: 3%;
margin-bottom: 3%;
}
.bashkara__tour_new{
  display: inline !important; 
}
.bashkara__h2{
  margin-top: 3%;
}
.animation{
  font-size: 60px !important;
}
/*  footer  start 677*/
.footer__list {
  display: flex !important; 
  flex-wrap: wrap !important; 
}
.footer__item_hidden{
  display: none;
  }
  .footer__list_hidden{
  display: flex !important;
  }
  .footer__item{
    margin-right: 4%!important;
  }

  .footer__item01{ 
    margin-left: 43% !important;
  margin-bottom: 5%;

  }
  .footer__list_hidden{
    margin-left: 12% !important;
  }
  .footer-more-inf{
    margin-left: 18% !important;
  }
  .footer__link {
    font-size: 25px !important;
  }
  .footer-it{
    font-size: 15px !important;
  }
/*  footer  end 677*/
}


@media screen and (max-width: 480px) {
 
    .bg-ex-top{
      top: 100% !important;
    }
    .bg-ex-top1{
      display: block !important;
   
    }
  .organize__title{
    font-size: 40px !important;
    line-height: 50px !important;
  }
  .organize__desc{
    font-size: 25px!important;

  }
  .organize__desc1{
    padding: 0px 0px 40px 0px !important;
  }
  .organize__img_hidden1 {
    display: flex !important;
    margin-left: 0% !important;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .organize__lil {
    margin-top: 7% !important;
    text-align: center;
}
  .icon {
    top: 19px !important;
    right: -45px !important;
}
.card-more-inf {
  margin-top: 5%;
  margin-bottom: 5% !important;
}
.top__cards {
  display: flex;
  column-gap: 57px;
  row-gap: 0px;
  flex-direction: column;
}
.tours__card-title {
  font-size: 30px !important;
  line-height: 50px !important;
}
.tours__card-thumb{
  width: 15%;
  
}
.tours__card-title02{
  font-size: 30px !important;
  line-height: 50px !important;
}
.tours__card-title1{
  font-size: 30px !important;
  line-height: 50px !important;
}
.tours__card-stats {
  margin-bottom: 12% !important;
}
.tours_topic{
  font-size: 50px !important;
  line-height: 50px !important;
}
.way-title {
  font-size: 46px !important;
  line-height: 1px !important;
  padding: 70px 0px 70px 0px !important;
}
.way-text{
  font-size: 55px!important;
  line-height: 40px!important;
}
.way-text1{
  font-size: 55px!important;
  line-height: 40px!important; 
}
.namely_buryatia_tour{
  display: flex !important; 
  flex-direction: column !important; 
}
.bashkara__tour_new{
  display: inline !important; 
}
.bashkara__h2{
  margin-top: 3%;
}
.animation{
  font-size: 50px !important;
}
/*  footer  start 480*/
.footer__list {
  display: flex !important; 
  flex-wrap: wrap !important; 
}
.footer__item_hidden{
  display: none;
  }
  .footer__list_hidden{
  display: flex !important;
  }
  .footer__item{
    margin-right: 4%!important;
  }

  .footer__item01{ 
    margin-left: 53% !important;
  margin-bottom: 5%;

  }
  .footer__item1{
    margin-left: 0px !important;
  }
  .footer__item_logo{
    margin-right: 0%!important;
  }
  .footer__list_hidden{
    margin-left: 12% !important;
  }
  .footer-more-inf{
    margin-left: 18% !important;
  }
  .footer__link {
    font-size: 14px !important;
  }
  .footer-it{
    font-size: 10px !important;
  }
/*  footer  end 480*/
}
@media screen and (max-width: 340px) {
  
  .organize__title{
    font-size: 27px !important;
    line-height: 35px !important;
  }
  .animation{
    font-size: 45px !important;
    line-height: 100px !important;
  }
  .organize__desc{
    font-size: 21px!important;
    line-height: 25px !important;
  }
  .organize__lil {
    font-size: 17px !important;
    margin-top: 7% !important;
    text-align: center;
}
.icon {
  top: 14px !important;
  left: 74px !important;
}
.card-more-inf {
  margin-top: 5%;
  margin-bottom: 5% !important;
}
.top__cards {
  display: flex;
  column-gap: 57px;
  row-gap: 0px;
  flex-direction: column;
}
.top__title{
  font-size: 36px !important;
  line-height: 40px !important;
}
.top__card-title1{
  font-size: 36px !important;
  line-height: 40px !important;
}
.top__card-title{
  font-size: 47px !important;
  line-height: 55px !important;
}
.top__card-title2{
  font-size: 47px !important;
  line-height: 55px !important;
}
.card-more-inf {
  margin-bottom: 5% !important;
  
}
.tours__card-title {
  font-size: 20px !important;
  line-height: 30px !important;
}
.tours__card-thumb{
  width: 15%;
  
}
.tours__card-title02{
  font-size: 20px !important;
  line-height: 30px !important;
}
.tours__card-title1{
  font-size: 20px !important;
  line-height: 30px !important;
}
.tours__card-stats {
  margin-bottom: 12% !important;
}
.tours_topic{
  font-size: 28px !important;
  line-height: 30px !important;
}
.way-title {
  font-size: 34px !important;
  line-height: 1px !important;
  padding: 50px 0px 50px 0px !important;
}
.way-text{
  font-size: 40px!important;
  line-height: 30px!important; 
}
.way-text1{
  font-size: 40px!important;
  line-height: 30px!important; 
}
.namely_buryatia_tour{
  display: flex !important; 
  flex-direction: column !important; 
}
.bashkara_topic
{
  font-size: 35px !important; 
}
/*  footer  start 340*/
.footer__list {
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.footer__item_hidden{
  display: none;
  }
  .footer__list_hidden{
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .footer__item{
    margin-right: 4%!important;
  }

  .footer__item01{ 
    margin-left: 0% !important;
  margin-bottom: 5%;

  }
  .footer__item1{
    margin-left: 0px !important;
  }
  .footer__item_logo{
    margin-right: 0%!important;
  }
  .footer__list_hidden{
    margin-left: 12% !important;
  }
  .footer-more-inf{
    margin-left: 18% !important;
  }
  .footer__link {
    font-size: 20px !important;
  }
  .footer-it{
    font-size: 15px !important;
  }
  .footer-text{
    margin-left: 5% !important;
  }
/*  footer  end 340*/
}

